@import url(./fonts.css);
@import url(./variables.css);
@import url(./mediaQuery.css);


html{
    scroll-behavior: smooth;
}
body{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.wrap{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}