@import url(./fonts.css);
@import url(./variables.css);
@import url(./mediaQuery.css);


html{
    scroll-behavior: smooth;
}
body{
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: var(--font-texto)
}

.wrap{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
}

.topo{
    width: 100%;
    background-color: var(--cor-bg-header);
}

.topo nav ul{
    display: flex;
}

.topo nav ul .nav-item{
    list-style: none;
}

.topo nav ul .nav-item a{
    text-decoration: none;
    color: var(--cor-font-menu);
    text-transform: uppercase;
    font-family: var(--font-header);
    font-size: 1.2rem;
    padding: 0.8rem;
}

.topo nav ul .nav-item a:hover{
    color: var(--cor-font-menu-hover);
    transition: 0.4s;
}

.btn-nav{
    margin: 0rem 0.6rem 0rem;
    position: fixed;
    bottom: 7px;
    right: 7px;
}

.btn-nav-topo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    /* box-shadow: 2px 2px 6px #0000; */
}

.btn-nav-topo:hover{
    transform: scale(1.2);
    transition: 0.4s;
}

.img-logotipo{
    width: 120px;
}

.container {
    width: 90%;
    height: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}